@font-face {
  font-family: 'typora-icon';
  src:  url('fonts/typora-icon.eot?3b9vw2');
  src:  url('fonts/typora-icon.eot?3b9vw2#iefix') format('embedded-opentype'),
    url('fonts/typora-icon.ttf?3b9vw2') format('truetype'),
    url('fonts/typora-icon.woff?3b9vw2') format('woff'),
    url('fonts/typora-icon.svg?3b9vw2#typora-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ty-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'typora-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ty-backspace:before {
  content: "\e927";
}
.ty-delete1:before {
  content: "\e928";
}
.ty-check:before {
  content: "\e933";
}
.ty-copy:before {
  content: "\e934";
}
.ty-cut:before {
  content: "\e935";
}
.ty-paste:before {
  content: "\e936";
}
.ty-file:before {
  content: "\e931";
}
.ty-textbundle:before {
  content: "\e932";
}
.ty-right:before {
  content: "\e92f";
}
.ty-left:before {
  content: "\e930";
}
.ty-quote:before {
  content: "\e929";
}
.ty-number:before {
  content: "\e92a";
}
.ty-bullet-list:before {
  content: "\e92b";
}
.ty-spellcheck:before {
  content: "\e91d";
}
.ty-inline-link:before {
  content: "\e92d";
}
.ty-unlink:before {
  content: "\e92e";
}
.ty-bold:before {
  content: "\e925";
}
.ty-italic:before {
  content: "\e92c";
}
.ty-code:before {
  content: "\e924";
}
.ty-link-icon:before {
  content: "\e926";
}
.ty-sort-by-natural-d:before {
  content: "\e923";
}
.ty-sort-by-natural:before {
  content: "\e922";
}
.ty-sort-by-alphabet-a:before {
  content: "\e912";
}
.ty-sort-a:before {
  content: "\e910";
}
.ty-sort-by-date-a:before {
  content: "\e921";
}
.ty-sort-t:before {
  content: "\e90d";
}
.ty-sort-new-up:before {
  content: "\e937";
}
.ty-sort-new-down:before {
  content: "\e938";
}
.ty-left-arrow:before {
  content: "\e920";
}
.ty-md-radio-button-on:before {
  content: "\e91e";
}
.ty-md-radio-button-off:before {
  content: "\e91f";
}
.ty-no-video:before {
  content: "\e91b";
}
.ty-error-file:before {
  content: "\e91c";
}
.ty-image:before {
  content: "\e060";
}
.ty-image-error:before {
  content: "\e602";
}
.ty-delete:before {
  content: "\e916";
}
.ty-menu:before {
  content: "\e917";
}
.ty-right-alignment:before {
  content: "\e918";
}
.ty-justify-align:before {
  content: "\e919";
}
.ty-left-alignment:before {
  content: "\e91a";
}
.ty-upload:before {
  content: "\e915";
}
.ty-insert-col:before {
  content: "\e914";
}
.ty-insert-row:before {
  content: "\e913";
}
.ty-dots-v:before {
  content: "\e911";
}
.ty-add:before {
  content: "\e90f";
}
.ty-delete-button:before {
  content: "\e90e";
}
.ty-package:before {
  content: "\e90c";
}
.ty-export1:before {
  content: "\e90b";
}
.ty-chevron-left:before {
  content: "\e908";
}
.ty-aim:before {
  content: "\e90a";
}
.ty-sidebar:before {
  content: "\e909";
}
.ty-close10:before {
  content: "\e905";
}
.ty-maximize10:before {
  content: "\e906";
}
.ty-minimize10:before {
  content: "\e907";
}
.ty-file-tree:before {
  content: "\e904";
}
.ty-three-cells:before {
  content: "\e900";
}
.ty-folder:before {
  content: "\e901";
}
.ty-list:before {
  content: "\e902";
}
.ty-finder-logo:before {
  content: "\e903";
}
.ty-clock:before {
  content: "\e610";
}
.ty-folder-outline:before {
  content: "\e617";
}
.ty-markdown:before {
  content: "\e618";
}
.ty-file-document:before {
  content: "\e616";
}
.ty-book-open:before {
  content: "\e615";
}
.ty-script:before {
  content: "\e60f";
}
.ty-map-marker:before {
  content: "\e611";
}
.ty-layers:before {
  content: "\e612";
}
.ty-dots-horizontal:before {
  content: "\e613";
}
.ty-download:before {
  content: "\e614";
}
.ty-window-restore:before {
  content: "\e608";
}
.ty-instapaper:before {
  content: "\e609";
}
.ty-eye:before {
  content: "\e60a";
}
.ty-details:before {
  content: "\e60b";
}
.ty-clipboard-outline:before {
  content: "\e60c";
}
.ty-information:before {
  content: "\e60d";
}
.ty-lightbulb:before {
  content: "\e60e";
}
.ty-settings:before {
  content: "\e605";
}
.ty-lightbulb-outline:before {
  content: "\e606";
}
.ty-information-outline:before {
  content: "\e607";
}
.ty-typora-icon-dark:before {
  content: "\e600";
}
.ty-typora-icon:before {
  content: "\e601";
}
