@font-face {
    font-family: 'Fira Code','思源黑体';
    src: local('Fira Code'),
    url('./FiraCode-Light.woff2') format('woff2');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Code','思源黑体';
    src: local('Fira Code'),
    url('./FiraCode-Regular.woff2') format('woff2');
    font-display: swap;
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Fira Code','思源黑体';
    src: local('Fira Code'),
    url('./FiraCode-Bold.woff2') format('woff2');
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Code','思源黑体';
    src: local('Fira Code'),
    url('./FiraCode-Medium.woff2') format('woff2');
    font-display: swap;
    font-weight: bold;
    font-style: italic;
}

/*"JetBrains Mono",, Menlo*/
:root {
    --monospace:  'SourceHanSansHWSC-VF','Fira Code'; /* 'Fira Code',"Cascadia Code", "Ubuntu Mono"; 代码字体*/
    --text-font: Fira Code; /*正文字体var(--monospace)*/
    --title-font: var(--monospace); /*标题字体*/
    --text-line-height: 1.6; /*正文行间距*/
    --code-block-line-height: 1.6; /*代码块行间距*/
    --p-spacing: 0.8rem; /*段间距*/
    --text-size: 12px;
}